html, body{
	font-size:16px;
	color: #dfdfdf;
	background-color: #063647; 
}

a {
  color: #00d1b2;
}

a:hover {
  color: #00d1b2;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
	margin-left:2rem;
	margin-right:2rem;
	
}

.section-1 {
	background: #063647;
}

.section-2 {
	background-color: #0E282E;
}

.section-3 {
	background-color: #0E282E;
}

.section-4 {
	background-color: #063647;
	padding: 0.2rem;
}

a.nav-item {
	color: #dfdfdf;
}

a.nav-item:hover {
	color: #fff;
}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
}

.project-text {
	text-align: center;
}

.box {
	background-color: transparent;
	border: 2px solid rgba(7, 59, 79, 0.5);
}

.title {
	color: #fff;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent; 
}


@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}

h1 { 
    display: block;
    font-size: 1.5em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
 
}

.card {
	border-color:lightslategrey;
	margin:5px;
	border-style:double;
	color:#5c5948da;
	background:#efebe9;
	text-align:center;
	width:30vw;
	height: 40vh;
	float:left;
	transition-duration: 0.5s;
  }
  
  .card:hover{
	transform: scale(1.05);
	z-index: 2;
  }
  
  .badge-secondary{
	background-color: rgba(238, 238, 238, 0.829);
	/*color: #5c5948da;*/
	color: #d68d63;
  }
  
  .badge-secondary:hover{
	color:#ffecb3;
  }
  
  .container {
	margin: 0 auto;
	align-content:  stretch;
  }
  